name: backend / Lint
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/**'
  pull_request:
    paths:
      - 'backend/**'
      - '.github/**'
defaults:
  run:
    working-directory: ./backend
permissions:
  contents: read
  pull-requests: write
jobs:
  openapi:
    runs-on: ubuntu-slim
    env:
      # latest: https://www.npmjs.com/package/@stoplight/spectral-cli
      SPECTRAL_CLI_VERSION: "6.15.0"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Cache spectral-cli
        id: cache-spectral-cli
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            /usr/local/bin/spectral
            /usr/local/lib/node_modules/@stoplight/spectral-cli
          key: ${{ runner.os }}-spectral-cli-${{ env.SPECTRAL_CLI_VERSION }}
      - if: steps.cache-spectral-cli.outputs.cache-hit != 'true'
        name: Install spectral-cli
        run: npm install -g @stoplight/spectral-cli@${{ env.SPECTRAL_CLI_VERSION }}
      - run: spectral lint ./docs/openapi.yaml
  biome:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - run: biome ci
