name: Lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: write
jobs:
  markdownlint:
    runs-on: ubuntu-slim
    env:
      # latest: https://github.com/igorshubovych/markdownlint-cli/releases
      MARKDOWNLINT_CLI_VERSION: 0.46.0
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Cache markdown-lint-cli
        id: cache-markdownlint-cli
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /usr/local/bin/markdownlint
            /usr/local/lib/node_modules/markdownlint-cli
          key: ${{ runner.os }}-markdonwlint-cli-${{ env.MARKDOWNLINT_CLI_VERSION }}
      - if: steps.cache-markdownlint-cli.outputs.cache-hit != 'true'
        name: Install markdownlint-cli
        run: npm install -g markdownlint-cli@${{ env.MARKDOWNLINT_CLI_VERSION }}
      - run: markdownlint --config .markdownlint.yml '**/*.md'
