name: Lint
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: write
jobs:
  markdownlint:
    runs-on: ubuntu-slim
    env:
      # latest: https://github.com/igorshubovych/markdownlint-cli/releases
      MARKDOWNLINT_CLI_VERSION: 0.46.0
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Cache markdown-lint-cli
        id: cache-markdownlint-cli
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            /usr/local/bin/markdownlint
            /usr/local/lib/node_modules/markdownlint-cli
          key: ${{ runner.os }}-markdonwlint-cli-${{ env.MARKDOWNLINT_CLI_VERSION }}
      - if: steps.cache-markdownlint-cli.outputs.cache-hit != 'true'
        name: Install markdownlint-cli
        run: npm install -g markdownlint-cli@${{ env.MARKDOWNLINT_CLI_VERSION }}
      - run: markdownlint --config .markdownlint.yml '**/*.md'
