name: web / Lint
on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
      - '.github/**'
  pull_request:
    paths:
      - 'web/**'
      - '.github/**'
defaults:
  run:
    working-directory: ./web
permissions:
  contents: read
  pull-requests: write
jobs:
  biome:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: biomejs/setup-biome@v2
      - run: biome ci
