name: web / CI
on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
      - '.github/**'
  pull_request:
    paths:
      - 'web/**'
      - '.github/**'
defaults:
  run:
    working-directory: ./web
permissions:
  contents: read
  pull-requests: write
jobs:
  biome:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - run: biome ci
  tsc:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ./web/package.json
      - run: npm ci
      - run: npx tsc -b --noEmit
