name: web / Deploy
on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
      - '.github/**'
  pull_request:
    paths:
      - 'web/**'
      - '.github/**'
defaults:
  run:
    shell: bash
    working-directory: ./web
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  biome:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
