# TODO: replace newweb to web later
name: web / Lint
on:
  push:
    branches:
      - main
    paths:
      - 'newweb/**'
      - '.github/**'
  pull_request:
    paths:
      - 'newweb/**'
      - '.github/**'
defaults:
  run:
    working-directory: ./newweb
permissions:
  contents: read
  pull-requests: write
jobs:
  biome:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
      - run: biome ci
