#:schema node_modules/wrangler/config-schema.json
name = "shamo-web"
compatibility_date = "2025-04-01"
assets = { directory = "./dist/", not_found_handling = "single-page-application" }
workers_dev = false
routes = [
  { pattern = "shamo.mi-wada.com", custom_domain = true }
]
# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true
